* {
    padding: 0;
    margin: 0;
}

header img {
    width: 120px;
    height: auto;
    padding-left: 10%;
}

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

section {
    margin-top: 85px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/3846132/pexels-photo-3846132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

h1 {
    font-family: 'Barlow', sans-serif;
    color:#fff;
    font-size: 3.4em;
    padding: 10% 40% 0 10%;
}

section p {
    font-family: 'Barlow', sans-serif;
    color: #fff;
    padding: 5% 10% 0 10%;
    font-size: 1em;
}

.parametros1 {
    font-size: 0.8em;
    padding: 5% 10% 0 10%;
}

.parametros2 {
    font-size: 0.8em;
    padding: 2% 10% 0 10%;
}

.parametros3 {
    font-size: 0.8em;
    padding: 2% 10% 10% 10%;
}

footer {
    background-color: #23ADC5;
    width: 100%;
    height: 100px;
}

footer p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    color: #fff;
}

.empresa {
    padding-top: 15px;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.contacto {
    font-size: 0.8em;
}

.btn-wsp {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 70px;
    height: 70px;
    z-index: 100;
}

@media (min-width:500px) {

    section {
        margin-top: 85px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/7224670/pexels-photo-7224670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    }

    section p {
        max-width: 60%;
    }

    footer {
        height: 130px;
    }

    .empresa {
        font-size: 1.2em;
    }
    
    .contacto {
        font-size: 1em;
    }
}

@media (min-width: 1024px) {

    section {
        margin-top: 85px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/8796052/pexels-photo-8796052.jpeg?auto=compress&cs=tinysrgb&w=1800&h);
    }

    h1 {
        font-size: 4em;
    }

    section p {
        font-size: 1.3em;
        max-width: 50%;
    }

    .parametros1 {
        font-size: 1em;
    }

    .parametros2 {
        font-size: 1em;
    }

    .parametros3 {
        font-size: 1em;
        padding-bottom: 10%;
    }

    .btn-wsp {
        right: 40px;
        bottom: 40px;
    }

    footer p {
        text-align: left;
        font-family: 'Barlow', sans-serif;
        color: #fff;
    }
    
    .empresa {
        padding-top: 15px;
        padding-left: 10%;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .contacto {
        padding-left: 10%;
        font-size: 1em;
    }

}